<script setup>
import UserComponent from "./components/UserComponent.vue";
import SideBar from "./components/SideBar.vue";
import ClockManager from "./components/ClockManager.vue";
import ChartManager from "./components/ChartManager.vue";
import WorkingTimes from "./components/WorkingTimes.vue";
import FancyCard from "./components/FancyCard.vue";
import FancyButton from "./components/FancyButton.vue";
import axios from "axios";
</script>

<script>
const urlapi = "http://localhost:4000/api/v1";

export default {
  data() {
    return {
      showLogin: true,
      isUserAdmin: false,
      userid: "",
    };
  },
  methods: {
    connect(event) {
      event.preventDefault();
      axios
        .post(
          urlapi + "/sign_in/",
          {
            email: document.getElementById("email").value,
            password: document.getElementById("password").value,
          },
          {
            headers: {
              "Content-Type": "application/json",
            },
          }
        )
        .then((response) => {
          let tokendecrypt = JSON.parse(atob(response.data.jwt.split(".")[1]));
          if(tokendecrypt.role === "ROLE_ADMIN"){
            this.isUserAdmin = true;
          }
          this.userid = tokendecrypt.id.toString();
          window.localStorage.setItem("jwt", response.data.jwt);
          this.showLogin = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<template>
  <header></header>
  <div style="display: flex; width: 100%">
    <SideBar style="z-index: 10">
      <UserComponent :userid="userid" :isUserAdmin="isUserAdmin"></UserComponent>
      <ClockManager :userid="userid" style="margin: 16px"></ClockManager>
    </SideBar>
    <div class="card-container" >
      <div style="width: 49%; height: 100%">
        <ChartManager :userid="userid"></ChartManager>
      </div>
      <div style="width: 49%; height: 91%">
        <WorkingTimes :userid="userid" :isUserAdmin="isUserAdmin"></WorkingTimes>
      </div>
    </div>
  </div>

  <vue-final-modal
    v-model="showLogin"
    classes="modal-container"
    content-class="modal-content"
    overlay-style="background-color: rgba(0, 0, 0, 1)"
    :click-to-close="false"
  >
    <FancyCard>
      <template #header>Login</template>
      <template #mainpart>
        <form id="updateForm">
          <input id="email" name="email" type="email" /><br />
          <input id="password" name="password" type="password" /><br />
          <FancyButton color="green" @click="connect($event)">
            Login
          </FancyButton>
        </form>
      </template>
    </FancyCard>
  </vue-final-modal>
</template>

<style scoped></style>
