/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #f5f3f3;
  --vt-c-white-soft: #eaeaea;
  --vt-c-white-mute: #d7d7d7;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --color-primary: #09a3a1;
  --color-primary-shade: #068684;
  --color-primary-transparent: #09a3a140;

  --color-secondary: #0dff86;
  --color-secondary-shade: #00af58;

  --color-danger: #a40000;
  --color-danger-shade: #7e0000;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

body {
  overflow: hidden;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}

.title {
  margin: 16px;
  font-weight: 900;
  font-size: 20px;
}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  color: white;
  position: relative;
  width: 50%;
  max-height: 300px;
  padding: 16px;
  overflow: auto;
  background-color: #22222200;
  border-radius: 4px;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin: 8px 8px 0 0;
  cursor: pointer;
}
.modal-close::hover {
  color: gray;
}

form input{
  margin-bottom: 10px;
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 ;
  padding: 0 16px;
  flex-direction: row;
   width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .card-container{
    flex-direction: column;
  }
}

body{
  height: 100%;
}

#app{
  min-width: 100%;
  height: 100%;
}

.wt{
  margin: 20px;
}

.charts-container{
  display: flex;
  flex-direction: row;
}

.card-chart{
  width: 50%;
  margin: 10px;
}

@media screen and (max-width: 1600px) {
  .charts-container{
    flex-direction: column;
  }
  .card-chart{
    width: 100%;
  }
}
  