<script setup>
defineProps({
  userid: {
    type: String,
    required: true,
  },
});
</script>

<script>
import axios from "axios";
import FancyCard from "./FancyCard.vue";
import FancyButton from "./FancyButton.vue";
import moment from "moment";

const urlapi = "http://localhost:4000/api/v1/";

export default {
  name: "ClockManager",
  components: {
    FancyCard,
    FancyButton,
  },
  methods: {
    cloking: function () {
      axios
        .post(
          urlapi + "clocks/" + this.userid,
          {
            time: new Date(),
          },
          {
            headers: {
              "Authorization": "Bearer " + window.localStorage.getItem("jwt"),
            },
          }
        )
        .then((response) => {
          this.endDateTime = Date.now();
          this.getClock();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getClock: function () {
      axios
        .get(urlapi + "clocks/" + this.userid, {
          headers: {
            "Authorization": "Bearer " + window.localStorage.getItem("jwt"),
          },
        })
        .then((response) => {
          let data = response.data.data[0];
          if (data.length == 0) {
            this.time = "";
          } else {
            this.time = data.time;
            this.status = !this.status;
          }
          this.lastTime =
            response.data.data[response.data.data.length - 1].time;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  data() {
    return {
      lastTime: "",
      status: false,
    };
  },
  mounted() {
    this.getClock();
    this.status = !this.status;
  },
  beforeUnmount() {},
  watch: {
    userid: function () {
      this.getClock();
    },
  },
};
</script>

<template>
  <FancyCard>
    <template #header>Clock Manager</template>
    <template #mainpart>
      <div>
        <div>
          Last clock:
          <span style="transition: all 1s" class="important">
            {{
              lastTime === ""
                ? "Never"
                : moment(lastTime).format("MMM Do YYYY, hh:mm")
            }}.</span
          >
        </div>
        <div>
          Clock is
          <span
            style="transition: all 1s"
            :class="status ? 'important' : 'danger'"
          >
            {{ status ? "running" : "not running" }}.
          </span>
        </div>
        <div class="center">
          <FancyButton
            style="transition: all 1s"
            @click="cloking"
            :color="status ? 'danger' : 'default'"
            >{{ status ? "Clock out" : "Clock in" }}</FancyButton
          >
        </div>
      </div>
    </template>
  </FancyCard>
</template>

<style scoped></style>
