<script setup>
defineProps({
  userid: {
    type: String,
    required: true,
  },
  isUserAdmin: {
    type: Boolean,
    required: true,
  },
});
</script>

<script>
import axios from "axios";
import FancyButton from "./FancyButton.vue";
import FancyCard from "./FancyCard.vue";
import bcrypt from "bcryptjs";

const urlapi = "http://localhost:4000/api/v1/";

export default {
  components: {
    FancyButton,
    FancyCard,
  },
  data() {
    return {
      username: "",
      email: "",
      userId: 0,
      userList: [],
      info: null,
      showCreate: false,
      showDelete: false,
      showEdit: false,
      info: "",
    };
  },
  mounted() {
    if (this.userid != "") {
      this.getUser();
      this.getAllUsers();
      this.userList.reverse();
    }
  },
  watch: {
    userid: function () {
      this.getUser();
      this.getAllUsers();
      this.userList.reverse();
    },
  },
  methods: {
    createUser: function (event) {
      event.preventDefault();
      let username = document.getElementById("newUsername").value;
      let email = document.getElementById("newEmail").value;
      let password = document.getElementById("newPassword").value;
      let passwordverif = document.getElementById("newPasswordVerif").value;

      if (password != passwordverif) {
        this.$toast.error(`Passwords do not match`);
        return;
      }
      let hash = bcrypt.hashSync(password, 10);
      axios
        .post(
          urlapi + "users",
          {
            username: username,
            email: email,
            password: hash,
            password_confirmation: hash,
          },
          {
            headers: {
              Authorization: "Bearer " + window.localStorage.getItem("jwt"),
            },
          }
        )
        .then((response) => (this.info = response));
      this.$toast.show();(`User created`);
      this.showCreate = false;
    },
    updateUser: function (event) {
      event.preventDefault();
      let username = document.getElementById("editUsername").value;
      let email = document.getElementById("editEmail").value;
      axios
        .put(urlapi + "users/" + userid, {
          headers: {
            Authorization: "Bearer " + window.localStorage.getItem("jwt"),
          },
          username: username,
          email: email,
        })
        .then((response) => (this.info = response));
      this.$toast.show(`Profile edited`);
      this.showEdit = false;
      this.getUser();
    },
    getUser: function () {
      axios
        .get(urlapi + "users/" + this.userid, {
          headers: {
            Authorization: "Bearer " + window.localStorage.getItem("jwt"),
          },
        })
        .then((response) => {
          this.username = response.data.data.username;
          this.email = response.data.data.email;
          this.userId = response.data.data.id;
        });
    },
    getAllUsers: function () {
      axios
        .get(urlapi + "users", {
          headers: {
            Authorization: "Bearer " + window.localStorage.getItem("jwt"),
          },
        })
        .then((response) => {
          this.userList = response.data.data;
        });
    },
    deleteUser: function (event) {
      event.preventDefault();
      axios
        .delete(urlapi + "users/" + this.userid, {
          headers: {
            Authorization: "Bearer " + window.localStorage.getItem("jwt"),
          },
        })
        .then((response) => (this.info = response));
      this.$toast.show(`Profil supprimé`);
      this.showDelete = false;
    },
  },
};
</script>

<template>
  <div class="title">Users panel</div>
  <div class="content" style="margin: 16px">
    You are currently logged in as <strong>{{ username }} </strong>.
    <br />
    Your registered email address is <strong>{{ email }} </strong>.
  </div>
  <div style="display: flex; justify-content: space-around; margin: 16px">
    <FancyButton v-if="isUserAdmin" @click="showEdit = true">
      Edit profile
    </FancyButton>
    <FancyButton v-if="isUserAdmin" color="danger" @click="showDelete = true">
      Delete profile
    </FancyButton>
  </div>
  <div style="display: flex; justify-content: space-around; margin: 16px">
    <FancyButton
      v-if="isUserAdmin"
      @click="showCreate = true"
      color="linear-gradient(323deg, rgba(0,170,119,1) 0%, rgba(0,156,154,1) 100%);"
    >
      Add new user
    </FancyButton>
  </div>
  <div
    class="hidden-scrollbar"
    style="padding: 16px; max-height: 24vh; overflow: scroll"
    v-if="isUserAdmin"
  >
    <div v-for="user of userList" v-bind:key="user.id">
      <FancyCard :stripe="false">
        <template #header>{{ user.username }}</template>
        <template #mainpart>
          <div style="display: flex">
            <div style="width: 45%">
              {{ user.email }}
            </div>
          </div>
        </template>
      </FancyCard>
    </div>
  </div>
  <vue-final-modal
    v-model="showCreate"
    classes="modal-container"
    content-class="modal-content"
    style="z-index: 2"
  >
    <FancyCard>
      <template #header>Create new User</template>
      <template #mainpart>
        <form>
          <label>Username: </label>
          <input id="newUsername" type="text" /><br />
          <label>Email: </label>
          <input id="newEmail" type="email" /><br />
          <label>Password: </label>
          <input id="newPassword" type="password" /><br />
          <label>Password: </label>
          <input id="newPasswordVerif" type="password" /><br />
          <FancyButton @click="createUser($event)">Create</FancyButton>
        </form>
      </template>
    </FancyCard>
  </vue-final-modal>

  <vue-final-modal
    v-model="showDelete"
    classes="modal-container"
    content-class="modal-content"
  >
    <FancyCard>
      <template #header>Delete your account?</template>
      <template #mainpart>
        <form
          style="
            margin-left: 25%;
            width: 50%;
            display: flex;
            justify-content: space-around;
          "
        >
          <FancyButton color="danger" @click="deleteUser($event)"
            >Yes</FancyButton
          >
          <FancyButton color="default" @click="showDelete = false"
            >No</FancyButton
          >
        </form>
      </template>
    </FancyCard>
  </vue-final-modal>

  <vue-final-modal
    v-model="showEdit"
    classes="modal-container"
    content-class="modal-content"
  >
    <FancyCard>
      <template #header>Edit your account information</template>
      <template #mainpart>
        <form>
          <input id="editUsername" type="text" v-model="username" /><br />
          <input id="editEmail" type="email" v-model="email" /><br />
          <FancyButton color="green" @click="updateUser($event)"
            >Edit</FancyButton
          >
        </form>
      </template>
    </FancyCard>
  </vue-final-modal>
</template>

<style>
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
</style>
